body {
  color: #A91079;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;


}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #610C63;
  /*line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #6A5495;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #9900F0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


p {line-height: 2; }

.rush1 {
  /*height: 180px;
  width: 240px;*/
  width: 25%;
  float: left;
  margin-right: 30px;
}

.rush2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pc {
  /*  height: 150px;
  width: 100px;*/
  width: 5%;
}

hr {
  border-style: none;
  border-top: #F37878 dotted 10px;
  width: 5%;
 margin: 100px auto;
}

.desc {width: 30%; margin: auto;  }
.profile {
  color: #A91079;
  margin-bottom: 100px;
}

.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top:100px;
padding-bottom: 0.5px;

  background-color: #F9F9F9;
}

.bottom-container {
  background-color: #F6C6EA;
padding: 50px 0 20px;
  word-spacing: 60px;
  position: relative;

}

.name {
  text-decoration: underline;
  color: #66BFBF;
}

.cloud1 {
  position: absolute;
  top: 60px;
  right: 300px;
}

.cloud2 {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.footer-link {
  position: relative;
  bottom: 30px;
}

a {color: #11999E;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}

a:hover {color: #EAF6F6; }

.copyright {
  color: #FF6FB5;
  padding: 20px 0px;

font-size: 0.75rem;
}

/*.clear-property {clear: right; }*/
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 500%;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
